body {
  margin: 0;
  padding: 0;
}
.main__block {
  margin: auto;
  width: 1100px;
  height: 600px;
  background-color: #EDEEEF;
}
.main__block_show {
  display: none;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.addButton {
  margin-top: 30px;
  outline: none;
  float: left;
  margin-left: 30px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 28px;
  text-align: center;
  width:45px;
  height: 45px;
  border-radius: 50px;
  background-color: #486EE3;
}
.manager {
  display: none;
}
.addList {
  display: block;
  width: 730px;
  margin: 0 auto;
}

.input {
  border: none;
  width: 450px;
  padding: 10px;
  border-radius: 3px;
}
.priority {
  margin-left: 5px;
  font-size: 14px;
  width: 100px;
  padding: 8px;
  border: none;
}
.button {
  margin-top: 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  margin-left: 20px;
  width: 120px;
  height: 35px;
  background-color: #7F8186;
  border-radius: 7px;
  outline: none;
}
.ulClass {
  margin: 0;
  padding: 0;
}
.list__task {
  position: relative;
  margin-top: 20px;
  padding-bottom: 10px;
  list-style-type: none;
  padding-left: 30px;
  font-size: 22px;
  border-bottom: 2px solid #eee;
}
.list__button {
  float: right;
  outline: none;
  border: none;
  font-size: 28px;
  background-color: white;
  margin-right: 20px;
}
.taskList {
  margin-top: 40px;
  clear: both;
  overflow-y: auto;
  background-color: white;
  width: 900px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.taskCount {
  margin-top: 15px;
  font-size: 18px;
  display: none;
  float: right;
  margin-right: 150px;
}
.priorityClassHigth {
  margin-right: 30px;
  padding: 2px 7px;
  background-color: #E95E51;
  border: 1px solid #E95E51;
  border-radius: 25px;
  font-size: 14px;
  color: white;
}
.priorityClassMedium {
  margin-right: 30px;
  padding: 2px 7px;
  background-color: #7F8186;
  border: 1px solid #7F8186;
  border-radius: 25px;
  font-size: 14px;
  color: white;
}
.priorityClassLow {
  margin-right: 30px;
  padding: 2px 7px;
  background-color: #0EBB82;
  border: 1px solid #0EBB82;
  border-radius: 25px;
  font-size: 14px;
  color: white;
}

.changeDisplayBlock {
  padding: 5px;
  background-color: #ccc;
  color: white;
  border: none;
  position: absolute;
  top: -10px;
  right: 20px;
  display: block;
}
.changeDisplayNone {
  display: none;
}
.lists {
  margin-left: 100px;
}
.list {
  border-radius: 0 15px 0 0;
  padding: 5px;
  background-color: white;
  border: none;
  font-size: 18px;
  width: 100px;
  cursor: pointer;
  border-bottom: 1px solid silver;
  color: #757575;
}
.list:hover {
  background-color: #55BDE3;
  color: white;
}
