.main__block {
  width: 700px;
  background-color: white;
  margin: auto;
  border: 1px solid #D2D2DC;
}
.main__block_show {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
#input {
  width: 450px;
  padding: 10px;
  border-radius: 3px;
}
#button {
  width: 120px;
  height: 35px;
  //margin-left: 15px;
  background-color:#eee;
  border-radius: 7px;
}
.list__task {
  margin-top: 20px;
  font-size: 20px;
}
.list__likeImg {
  margin-left: 20px;
  margin-right: 5px;
}
.list__span {
  margin-right: 5px;
}
.liked {
  background-image: url(../img/liked.svg);
}
