@import './bootstrap.min.css';
@import './task.css';
@import './lists.css';
body {
  margin: 0;
  padding: 0;
}
.main {
  &__block {
    margin: auto;
    width: 1100px;
    height: 600px;
    background-color: #EDEEEF;

    &_show {
      display: block;
      width: 730px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}
.input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  width: 600px;
  padding: 6px 15px;
  outline: none;
}
.priority {
  margin-left: 40px;
  font-size: 14px;
  width: 100px;
  padding: 8px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  outline: none;
}
.button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  margin-left: 20px;
  width: 120px;
  height: 35px;
  background-color: #7F8186;
  border-radius: 10px;
  outline: none;

  &:hover {
  background-color: #9DA5B4;
  }
}
.ulClass {
  margin: 0;
  padding: 0;
}
.taskList {
  margin-top: 40px;
  clear: both;
  overflow-y: auto;
  background-color: white;
  width: 900px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.taskCount {
  margin-top: 15px;
  font-size: 20px;
  display: none;
  float: right;
  margin-right: 150px;
}
.changeDisplayBlock {
  background-color: #ccc;
  color: white;
  border: none;
  position: absolute;
  top: -10px;
  right: 20px;
  display: block;
  font-size: 18px;
}
.changeDisplayNone {
  display: none;
}
